
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}

.navbar {
  background-color: #fff !important;
}

.navbar-brand {
  font-size: 1.9rem !important;
  color: #ff707a !important;
}

.navbar a {
  font-size: 1.3rem;
  text-transform: capitalize;
}

.menu_active {
  font-weight: bold;
  border-bottom: 1px solid #565387;
}

.navbar a:hover {
  color: #3498db !important;
}

@media (max-width: 991px) {
  .navbar-brand {
    font-size: 1.5rem !important;
  }
  .menu_active{
    font-weight: bold;
    border-bottom: none;
  }

}



@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.row {
  display: -webkit-box !important;
}

.row .container {
  width:50%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.avatar {
  animation: float 6s ease-in-out infinite;
  position: fixed;
  right: 145px;
  margin-top: 50px;
  max-width: 450px;
}
